networks:
  cyber_network:
    external: true

services:
  web:
    build: .
    container_name: cyber_backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      flyway:
        condition: service_completed_successfully
    volumes:
      - .:/usr/src/app
    networks:
      cyber_network:
        aliases:
          - db

  db:
    image: postgres:13
    container_name: cyber_db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: cyber
      POSTGRES_PASSWORD: cyber1
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - cyber_network
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U cyber -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  flyway:
    image: flyway/flyway:11
    container_name: cyber_flyway
    depends_on:
      db:
        condition: service_healthy
    command: migrate
    volumes:
      - ./db/migrations:/flyway/sql
    environment:
      FLYWAY_URL: jdbc:postgresql://db:5432/postgres
      FLYWAY_USER: cyber
      FLYWAY_PASSWORD: cyber1
      FLYWAY_BASELINE_ON_MIGRATE: "true"
    networks:
      - cyber_network
    restart: "no"


  ui:
      build:
        context: ./ui
      container_name: cyber_ui
      ports:
        - "3000:3000"
      networks:
        - cyber_network

volumes:
  pgdata:
