button {
    border: 0;
    font-size: 12px;
    background-color: black;
    color: white;
}
button:active {
    background-color: white;
    color: black;
}
button:hover {
    background-color: white;
    color: black;
}
button:disabled {
    background-color: lightgrey;
    color: black;
    opacity: 1;
}

label {
    margin-right: 4px;
}

textarea {
    height: 80px;
    width: 320px;
}

.main {
    padding: 16px 8px;
    font-family: monospace;
    line-height: 1.5;
    font-weight: 600;
    z-index: 1;
}

.crt-effect {
    position: absolute;
    pointer-events: none;
    /* Scanline effect */
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 0.2) 2px,
      rgba(0, 0, 0, 0) 12px
    );
    background-size: 100% 4px; /* Adjust scanline spacing */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.crt-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 0.6) 100%);
    mix-blend-mode: overlay;
    pointer-events: none;
  }
  

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

table {
    font-size: 12px;
    width: 100%;
    margin-top: 4px;
    border: 2px solid black;
    border-collapse: collapse;
}
table tr:nth-child(odd) td{
    background-color: darkgrey;
}

th {
    border-bottom: 1px solid black;
    padding-right: 2px;
    padding-left: 2px;
    text-align: left;
}
 
td {
    max-width: 400px;
    padding-left: 4px;
    text-align: left;
}
