label {
    background-color: black;
    color: white;
    padding: 2px;
    margin: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 24px;
    font-weight: bold;
}

.sheet {
    min-width: 800px;
    min-height: 1200px;
    padding: 16px 8px;
    font-family: monospace;
}

.fieldContainer {
    margin-top: 4px;
    max-width: 636px;
}

.fieldContent {
    width: 100%;
    display: flex;
}

.stats {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    margin-left: 8px;
    max-width: 420px;
}

.statValue {
    display: block ruby;
}

.roles {
    font-size: 22px;
}

.saveCharacter {
    margin-left: 4px;
}

.saveCharacterBtn {
    font-size: 24px;
}

.fieldValue {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding-left: 4px;
    padding-top: 4px;
    width: 100%;
    margin: 4px;
}

.fieldValue:disabled {
    color: black;
}

.fieldValue:focus {
    outline: none;
 
}

.armorLabel {
    font-size: 18px;
    width: 128px;
    text-align: center;
    padding: 6px 0px;
}

.armorRowContainer {
    display: flex;
}

.armorSection {
    margin: 4px 0px
}

.sp {
    border: solid;
}

.boxContainer {
    display: flex;
    height: 100px;
}

.outerBox {
    display: flex;
    flex-direction: column;
    border: solid;
    width: 44px;
    margin: 4px;
}

.boxLabel {
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid;
    padding-left: 2px;
}

.boxValue {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

}

.dmgTakenContainer {
    margin-left: 8px
}

.dmgTakenOuterbox {
    display: flex;
    flex-direction: row;
}

.healContainer {
    margin-top: 4px;
    display: flex;
}

.fourDmgBoxes {
    margin-right: 8px;
}

.dmgBoxSet {
    display: flex;
}

.dmgBox {
    border: solid;
    max-height: 12px;
    max-width: 12px;
    min-height: 12px;
    min-width: 12px;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
}

.dmgTick {
    background-color: black;
    max-height: 8px;
    max-width: 8px;
    min-height: 8px;
    min-width: 8px;
    margin: 2px;
}

.dmgUpperLabel {
    font-size: 12px;
}

.dmgStun {
    width: 100%;
    margin-top: 2px;
    background-color: black;
    color: white;
    width: 120%;
    font-size: 12px;
    padding-left: 12px;
}

.dmgSetter {
    display: flex;
    justify-content: center;
}

.dmgSetterButton {
    font-size: 10px;
}

.trianglesSet {
    margin-top: 2px;
}

.armorContent {
    font-size: 14px;
    text-align: center;
    display: grid;
    grid-column-start: 1;
    grid-template-columns: 66px 66px 66px 66px 66px 66px;
}

.skills {
    display:flex;
    flex-flow:column wrap;
    max-height:800px;
    max-width: 400px;
    font-size: 12px;

}

.skill {
    margin-right: 4px;
}

.skillBtn {
    margin-right: 2px;
}

.weapons {
    margin-top: 16px;
    border-top: solid;
    border-bottom: solid;
    padding: 4px 0px;
}

.weapon {
    margin-bottom: 4px;
}

.range {
    width: 24px;
}

.repair {
    margin-left: 4px;
}

.triangleUp {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    margin-bottom: 2px;
}

.triangleUp:hover {
    border-bottom: 5px solid grey;
}

.triangleDown {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }

  .triangleDown:hover {
    border-top: 5px solid grey;
}

.weaponButton {
    margin-left: 2px;
}

.ipToAdd {
    display: flex;
}

.ipButton {
    margin-left: 8px;
}

.attackMod {
    display: flex;
    padding: 0px 4px;
}
