label {
    background-color: black;
    color: white;
    padding: 2px;
    margin: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 24px;
    font-weight: bold;
}

.fieldContainer {
    margin-top: 4px;
}

.fieldContent {
    width: 100%;
    display: flex;
}

.stats {
    margin-top: 4px;
    margin-left: 8px;
}

.roles {
    font-size: 21px;
}

.fieldValue {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding-left: 4px;
    padding-top: 4px;
    width: 100%;
    margin: 4px;
}

.armorLabel {
    font-size: 18px;
    width: 128px;
    text-align: center;
    padding: 6px 0px;
}

.armorRowContainer {
    display: flex;
}

.armorSection {
    margin: 4px 0px
}

.foo {
    border: solid;
}

.armorContent {
    font-size: 14px;
    text-align: center;
    display: grid;
    grid-column-start: 1;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
}

.skills {
    display:flex;
    flex-flow:column wrap;
    max-height:800px;
    max-width: 400px;
    font-size: 14px;

}
