button {
    border: 0;
    font-size: 12px;
    background-color: black;
    color: white;
}
button:active {
    background-color: white;
    color: black;
}
button:hover {
    background-color: white;
    color: black;
}
button:disabled {
    background-color: lightgrey;
    color: black;
    opacity: 1;
}

.main {
    padding: 16px 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    min-width: 800px;
    min-height: 1200px;
}

.container {
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
}
