.CharacterInfo {
    display: grid
}

.search {
  padding-bottom: 8px;
  border-bottom: solid;
}

.searchOrCreate {
  margin-left: 4px;
}

.filter {
  margin-left: 4px;
}

.listCharacters {
  margin-bottom: 4px;
}